#newscontent{
	display:flex;
	flex-direction: row;
	justify-content: space-around;
}
#newspost{
		display:flex;
	flex-direction: column;
	align-items: center;
}
.entry{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width:100%;
	align-items: center;
}
#newsviewimg{
	width:100%;
}
#viewdata{
	width:80%;
}
#newsimg{
	width:100%;
}